/* Light Theme */
:root {
    /* --background-color: white; */
    --text-color: black;
    /* ... other variables for the light theme ... */
}

/* TODO: implement theme */
/* Dark Theme */
[data-theme='Dark'] {
    background-color: black;
    color: white;
    /* ... other variables for the dark theme ... */
}

/* THIS IS FOR LIGHT THEME */
/* Change the background color of the highlighted text */
::selection {
    background-color: #7AFFE1; 
}

/* For browsers that don't support ::selection, use Mozilla's pseudo-element */
::-moz-selection {
    background-color: #7AFFE1;
}

