
/* Light Theme */
:root {
    --primary-color: #007ACC;
    --secondary-color: #D4E6FB;
    --accent-color: #D18616;
    --background-color: #F3F3F3; /* Soft background color */
    --text-color: #333333; /* Dark grey text for better readability */
    --error-color: #D16969; /* Soft red for errors or warnings */
    --selection-background: #7AFFE1; /* cyan for text selection */
}

/* Dark Theme */
[data-theme='dark'] {
    --primary-color: #1E1E1E;
    --secondary-color: #252526;
    --accent-color: #569CD6;
    --background-color: #1E1E1E; /* Dark grey almost black background */
    --text-color: #D4D4D4; /* Light grey text for dark background */
    --error-color: #F48771; /* Brighter red for errors or warnings */
    --selection-background: #264F78; /* Dark blue for text selection */
}

/* Serpent Theme */
[data-theme='serpent'] {
    --primary-color: #357a38; /* Dark green, like forest foliage */
    --secondary-color: #a8deb0; /* Lighter green for secondary elements */
    --accent-color: #607d3b; /* Muted green for accents */
    --background-color: #4f7942; /* Shade of green reminiscent of snake skin */
    --text-color: #fafafa; /* Off white for readability on dark green background */
    --error-color: #e57373; /* Soft red for errors or warnings */
    --selection-background: #8bc34a; /* A bright lime green for text selection */
}

/* Apply variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Other elements here that use the theme colors */
a, .button-primary {
    background-color: var(--accent-color);
    color: white; /* Ensure text on accent is readable */
}

/* Errors and warnings */
.error, .warning {
    color: var(--error-color);
}

/* Change the background color of the highlighted text for light theme */
::selection {
    background-color: var(--selection-background);
}

/* For browsers that don't support ::selection, use Mozilla's pseudo-element */
::-moz-selection {
    background-color: var(--selection-background);
}

/* Add styles for other elements that will use these colors */
