.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/38D64A67-D05C-4DBF-B142-50B1755DC3A0_1_105_c.jpeg
static/F6FF645B-8F31-4C3C-997A-4314C41D5475_1_105_c.jpeg