.download-component {
    /* display: flex; */
    min-height: 100%;
    align-items: center; 
    justify-content: center;
    width: 16rem; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.download-button {
    /* position: relative; */
  /* display: inline-block; */
  box-sizing: border-box;
  padding: 0 16px;
  margin: 4px;
  min-width: 10rem;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #fff;
  color: rgb(var(--pure-material-primary-rgb,0,85,255));
  font-family: monospace, monospace;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow .2s;
}
      
.download-button:hover a {
    color: #fff; 
    text-decoration: none;
}

.download-button:hover {
    background-color: #05f;
    color: #fff;
} 

.download-button.selected {
    background-color: #05f;
    color: #fff;
}

.convert-button {
    /*  */
}

.convert-button:hover {
    /*  */
}