.extract-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #05f;
    height: 40px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.extract-button:hover {
    background-color: #e7e7e7;
    color: black;
}

.extract-button-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    /* border: 1px solid #e7e7e7; */
}

.list-item {
display: flex; 
width: 100%;
list-style: none;
text-align: center;
margin-bottom: 10px;
font-size: 1rem;
/* font-family: monospace, monospace; */


}

.list-item:hover {
/* background-color: #05f; */
/* color: white; */
}

.list-item-text {
padding: 10px;
cursor: pointer;
font-family: monospace, monospace;
font-size: 14px;
}


.item-list-view {
display: flex; 
flex-direction: column; 
align-items: center; 
width: 16rem; 
height: 320px;
overflow-y: auto;
overflow-x: hidden;
border-radius: 0.5rem; 
border: 1px solid #e7e7e7;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.spinner {
    height: 50%;
}