/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {  
  background-color:#f00;
  .sidebar-list {
    display: flex;
    border: 1px solid red;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  /* .main-container {
    width: 90%;    
  } */
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


.sidebar-item {
  list-style: none
}

/* if sidebar links clicked */
.on-selected-sidebar {
  color: #6366F1;
}


.sidebar-list {
    padding: 0;
  }
  
.sidebar-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  /* border: 2px solid #05f; */
  border: none;
  /* border-radius: 4px; */
  padding: 0 16px;
  margin: 4px;
  min-width: 10rem;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #fff;
  color: rgb(var(--pure-material-primary-rgb,0,85,255));
  font-family: monospace, monospace;
  /* font-family: var(--pure-material-font,"Roboto","Segoe UI",BlinkMacSystemFont,system-ui,-apple-system); */
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow .2s;
}

/* .sidebar-button:focus {
    border: 4px solid #05f;
    color: #05f;
    
  } */
  
.sidebar-button a {
    color: #05f; 
    text-decoration: none;
}
  
  .sidebar-button:hover {
    background-color: #05f;
    color: #fff;
  } 
  
  .sidebar-button.selected {
    background-color: #05f;
    color: #fff;
  }